<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Links</key>
	<dict>
		<key>Issues</key>
		<string>https://github.com/yanue/V2rayU/issues</string>
		<key>Releases</key>
		<string>https://github.com/yanue/V2rayU/releases</string>
		<key>About</key>
		<string>https://github.com/yanue/</string>
	</dict>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
